/* TokenInput default style */
ul.token-input-list {
    overflow: hidden;
    height: auto !important;
    height: 1%;
    width: 400px;
    border: 1px solid #999;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style-type: none;
    clear: left;
}

ul.token-input-list li {
    list-style-type: none;
}

ul.token-input-list li input {
    border: 0;
    width: 350px;
    padding: 3px 8px;
    background-color: white;
    -webkit-appearance: caret;
}

li.token-input-token {
    overflow: hidden;
    height: auto !important;
    height: 1%;
    margin: 3px;
    padding: 3px 5px;
    background-color: #d0efa0;
    color: #000;
    font-weight: bold;
    cursor: default;
    display: block;
}

li.token-input-token p {
    float: left;
    padding: 0;
    margin: 0;
}

li.token-input-token span {
    float: right;
    color: #777;
    cursor: pointer;
}

li.token-input-selected-token {
    background-color: #08844e;
    color: #fff;
}

li.token-input-selected-token span {
    color: #bbb;
}

div.token-input-dropdown {
    position: absolute;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 12px;
    font-family: Verdana;
    z-index: 1;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    list-style-type: none;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fafafa;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #d0efa0;
}
/* TokenInput default style end */
#sc_matrixInfo, #scmatrixUserFilter {
    display: block;
    width: 190px;
    border: 1px solid #B3CBDC;
    float:left;
    background-color: white;
    border-top:0;
    padding-bottom: 10px;
}

#scmatrixUserFilter {
    display: block;
    width: 190px;
    border: 1px solid #B3CBDC;
    float:left;
    background-color: white;
    border-top:0;
    padding-bottom: 10px;
}

#sc_matrixInfo ul{
    list-style: none;
    padding-left: 12px;
}
#sc_matrixContent{
    margin-left: 200px;
}

#sc_ApprovalMatrix {
    border: 1px solid black;
    padding-right: 65px;
    border-collapse: collapse;
    font-size: 13px;
    background-color: white;
}

#sc_ApprovalMatrix input, select, textarea {
    font-size: 13px;
}

#sc_ApprovalMatrix thead {
    font-size: 11px;
    text-align: center;
}

#sc_ApprovalMatrix td {
    border: 1px solid #C0C0C0;
    padding: 3px;
}

.sc_filter {
    background-color: #FFEED9;
    color:#7D8D9C;
    background-image: url(../down_arrow.gif);
    background-repeat: no-repeat;
    background-position: bottom right;
    cursor: pointer;
}
.sc_THeadInfoTD{
    color: #8B8CA7;
    background-color: #FFF8F5;
}

.sc_attribute {
    background-color: #CCE8FF;
    min-width: 90px;
    color:#405369;
    font-size: 11px;
	
}

.sc_attribute input, textarea, select {
    width: 100%;
}

.sc_lastCol {
    background-color: #FFEB7D !important;
}

.sc_levelCol {
    min-width: 183px;
    max-width: 190px;
}

.sc_levelCol a.sc_user, .sc_attribute a {
    display: block;
    color: #438787;
    text-decoration: none;
}

.sc_levelCol span.sc_eds {
    color: #438787;
    text-decoration: none;
    font-size: 11px;
}

.sc_levelCol select.sc_eds {
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana;
}

.sc_levelCol a.sc_user:hover, .sc_attribute a:hover{
    text-decoration: underline;
}

.sc_levelCol.odd {
    background-color: #B9FFB9;
}

.sc_levelCol.even {
    background-color: #E1FCE1;
}

.sc_addRow , .sc_delRow {
	cursor:pointer;	
}

/* tokenInput customization START */
/* TODO: should't be in another css file */
div.token-input-dropdown {
    width: 150px;
    font-size: 10px;
}

ul.token-input-list {
    width: 150px;
}

li.token-input-token p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 120px;
    color: #525A61;
}

/* tokenInput customization END */
.sc_tableFilter {
    position: absolute;
    border: 1px solid #BDBDBD;
    width: 283px;
    height: 275px;
    padding: 10px 10px;
    top: 0px;
    left: 10px;
    background: rgba(255, 255, 255, 1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 73%, rgba(237, 237, 237, 1) 100%);
    border-radius: 4px;
    box-shadow: 0px 0px 15px 1px rgba(168, 173, 173, 1);
    font-size:12px;
}

.sc_tableFilter h3 {
    font-size: 88%;
    margin: 0;
}

.sc_filterPropsList {
    list-style: none;
    border: 1px solid silver;
    background-color: white;
    height: auto;
    padding: 5px;
    overflow: auto;
}

.sc_filterPropsList label{
    font-size:100%;
}

.sc_filterButton {
    text-align: right;
}

.sc_filterButton button {
    font-size: 90%;
    width: 140px;
    height: 25px;
    margin-top: 2px;
}

li.sc_selectAll {
    border-bottom: 1px dotted gray;
    color: gray;
    font-size: 79%;
}

.sc_hoverActions {
    position: absolute;
    height: 23px;
    top: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 1);
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 73%, rgba(237, 237, 237, 1) 100%);
    border-radius: 4px;
    box-shadow: 0px 0px 15px 1px rgba(168, 173, 173, 1);
    border: 1px solid gray;
    padding: 6px;

    width: auto;
    white-space: nowrap;
}

.sc_hoverAction {
    display: inline-block;
    margin: 4px 5px;
    border-radius: 6px;
}

#sc_matrixInfo h4{
    font-weight: normal;
    padding: 3px 5px;
    background-color: #F6F8F9;
}
.sc_filterHasCondition {
    background-image: url(../down_arrow_active.gif);
    background-color: #FDDAAE;
}

.sc_classificationDialog{

}
.sc_classificationBox{
    display:inline-block;
    width:200px;
    border: 1px solid red;
    overflow: scroll;
}
.sc_tableTableLookupList{
    max-height: 800px;
    overflow-y: auto;
    list-style: none;
    padding: 0 5px;
}

.sc_complexAttrTable{
    width: 100%;
    border-collapse: collapse;
}
.sc_complexAttrTable td{
    border: 1px solid #E0E0E0;
    padding: 5px;
    text-align: center;
}
.sc_showDeleteCel{
	background-color: #f5c2c2 !important;
}
.sc_showAddCel{
	background-color: #dedede !important;
}
.sc_showEditCel{
	background-color: #f7bf88 !important;
}
.sc_invalid{
	border-color: red;
}

body{
	font-size: 11px;
	font-family: sans-serif;
}
.SelectedUser{
	background-color: yellow;
}
.container{
    height: 718px;
    overflow-y: scroll;
}
#sc_ApprovalMatrix {
	border-collapse: separate;
    border-spacing: 0;
}
#sc_ApprovalMatrix thead {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
}
#sc_ApprovalMatrix th, #sc_ApprovalMatrix td {
    border-right: 1px;
    border-bottom: 1px;
}

#sc_ApprovalMatrix th:first-child, #sc_ApprovalMatrix td:first-child {
    border-left: 1px;
}

#sc_ApprovalMatrix thead tr:first-child th {
    border-top: 1px;
}